/* Author: Derek Moy */
/* GitHub: https://github.com/dmoy2 */

/* Background Color - Blue: #9BCAF2 */
/* Accent Color - Light Pink: #F2E9EE */
/* Accent Color - Dark Pink: #FFBAEB */

/* Universal Rules */

* {
    box-sizing: border-box;
}
/* 
.row {
    border: 2px solid red; 
}
.col {
    border: 2px solid blue;
} */

html, body {
    background-color: #F2E9EE;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: 'VT323', Helvetica, serif;
}

#initial {
    font-size: 5rem;
    margin: auto;
    padding: 0;
}

.name {
    margin: auto;
    font-size: 1.2rem;
}

.aside {
    background-color: white;
    min-width: 150px;
    max-width: 190px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 4px 4px 14px 4px;
    border-image-source: url(./imgs/windows/navboxdraft.png);
    border-image-slice: 2 2 7 2;
    border-image-repeat: stretch;
}

.aside .nav a {
    width: 100px;
    margin: 15px auto;
    padding: 0;
    border-radius: 0;
    border: 3px outset whitesmoke;
}

.aside .nav a:hover {
    background-color: #F2E9EE; 
}

.aside .nav a:active {
    background-color: #FFBAEB;
    border: 3px inset whitesmoke;
}


/* Gif Rules */

.gif {
    width: 330px;
    height: 270px;
    margin: 0 auto 40px auto;
    border-style: solid;
    border-width: 32px 14px 20px 14px;
    border-image-source: url(./imgs/windows/WindowSquare.png);
    border-image-slice: 16 7 10 7;
    border-image-repeat: stretch;
}

#girl-gif {
    height: 400px;
}

#wings-gif {
    height: 480px;
}

#dress-gif {
    height: 300px;
}


/* Media Queries */

/* XS-S */
@media only screen and (max-width:576px) {
    .html, .body { 
        font-size: 16px;
    }

    .gif {
        width: 240px;
        height: 180px;
    }
    
}

/* S-M */
@media only screen and (max-width: 768px) {
    html, body {
        font-size: 16px; 
    }

    .gif {
        width: 270px;
        height: 210px;
    }

    #girl-gif {
        height: 300px;
    }

    #wings-gif {
        height: 380px;
    }
}

/* M-LG */
@media only screen and (max-width: 992px) {
    html, body {
        font-size: 18px; 
    }
}

/* LG-XL */
@media only screen and (min-width: 993px) {
    html, body {
        font-size: 20px; 
    }
}