/* Author: Derek Moy */
/* GitHub: https://github.com/dmoy2 */

/* Background Color - Blue: #9BCAF2 */
/* Accent Color - Light Pink: #F2E9EE */
/* Accent Color - Dark Pink: #FFBAEB */

.contact-card {
    border-style: solid;
    border-width: 30px 20px 22px 14px;
    border-image: url(../imgs/windows/1920x1080window.png);
    border-image-slice: 15 10 11 7;
    border-image-repeat: stretch;
    margin-bottom: 50px;
}

.portrait {
    width: 200px;
    height: 200px;
    padding: 0;
    border-style: solid;
    border-width: 32px 14px 20px 14px;
    border-image: url(../imgs/windows/WindowSquare.png);
    border-image-slice: 16 7 10 7;
    border-image-repeat: stretch;
}

#name {
    font-size: 4rem;
    line-height: 3rem;
    /* text-align: center; */
    /* padding: 5px 0px; */
    margin: auto;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 10px 30px;
}


/* Form CSS Rules */
.submit {
    background-color: #FFBAEB;
    border: 3px inset whitesmoke;
    border-radius: 0%;
}

.submit:hover {
    color: white;
}

.submit:active {
    border-style: outset;
    color: black;
}

.phone-input {
    min-width: 80px;
    max-width: 90px;
    padding: 5px;
}


/* Media Queries */

@media only screen and (max-width:576px) {
    .icon {
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .icon {
        width: 20px;
        height: 20px;
        margin: 10px 12px;
        text-align: center;
    }

    #form-names {
        flex-direction: column;
    }

    #phone {
        flex-direction: column;
        align-items: flex-start !important; 
    }
/* 
    #portrait-name {   
        font-size:medium;
    } */
}

@media only screen and (max-width: 992px) {
    .icon {
        width: 22px;
        height: 22px;
    }

    #name {
        font-size: 2rem;
        text-align: center;
    }

    .portrait {
        width: 150px;
        height: 150px;
    }

    #socials {
        justify-content: center !important;
    }
}

@media only screen and (min-width: 993px) {
    .icon {
        margin: 10px 15px;
    }
}