/* Author: Derek Moy */
/* GitHub: https://github.com/dmoy2 */

/* Background Color - Blue: #9BCAF2 */
/* Accent Color - Light Pink: #F2E9EE */
/* Accent Color - Dark Pink: #FFBAEB */

.contact-card {
    border-style: solid;
    border-width: 30px 20px 22px 14px;
    border-image: url(../imgs/windows/1920x1080window.png);
    border-image-slice: 15 10 11 7;
    border-image-repeat: stretch;
    margin-bottom: 50px;
}

.portrait {
    width: 200px;
    height: 200px;
    padding: 0;
    border-style: solid;
    border-width: 32px 20px 20px 14px;
    border-image: url(../imgs/windows/WindowSquare.png);
    border-image-slice: 16 10 10 7;
    border-image-repeat: stretch;
}

#name {
    font-size: 4rem;
    line-height: 3rem;
    padding: 0 3px;
    margin: auto;
}

.icon {
    width: 100%;
    height: 100%;
    padding: 0;
    /* margin: 10px 30px; */
}

#socials a {
    width: 40px; 
    height: 40px;
    margin: 10px 25px;
}

/* Form CSS Rules */
.submit {
    background-color: #FFBAEB;
    border: 3px inset whitesmoke;
    border-radius: 0%;
}

.submit:hover {
    color: white;
}

.submit:active {
    border-style: outset;
    color: black;
}

.phone-input {
    min-width: 80px;
    max-width: 90px;
    padding: 5px;
}


/* Media Queries */

/* XS-S */
@media only screen and (max-width:576px) {
    .icon {
        margin: 10px 10px;
    }
}

/* S-M */
@media only screen and (max-width: 768px) {
    #name {
        font-size: 2rem;
        text-align: center;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin: 10px 12px;
        text-align: center;
    }

    .portrait,
    #name-socials  {
        margin: 0;
    }

    .portrait {
        max-width: 150px;
        max-height: 180px;
    }

    #socials {
        justify-content: center !important;
    }

    #form-names {
        flex-direction: column;
    }

    #phone {
        flex-direction: column;
        align-items: flex-start !important; 
    }
}

/* M-LG */
@media only screen and (max-width: 992px) and (min-width: 770px) {
    #name {
        font-size: 2.3rem;
        text-align: center;
    }

    .icon {
        width: 22px;
        height: 22px;
        margin: 10px 15px;
    }

    .portrait {
        margin-left: 30px;
    }

    #name-socials {
        margin-right: 30px;
    }
}

/* LG-XL */
@media only screen and (min-width: 993px) {
    #name {
        font-size: 3.5rem;
        margin-left: 15px;
    }

    .icon {
        width: 45px;
        height: 45px;
        margin: 10px 20px;
    }

    .portrait {
        max-width: 180px;
        max-height: 210px;
        margin-left: 50px;
    }
}